composio
composio-client
composio-openai-agents
crewai
crewai-tools
gdown
langchain
langchain-community
langchain-core
langchain-openai
langchain-pinecone
langchain-tavily
langchain-text-splitters
google-genai
pillow
pillow-avif-plugin
python-dotenv
requests
requests-oauthlib
requests-toolbelt
opencv-python-headless
#rfdetr
ultralytics
ultralytics-thop
sentence-transformers
streamlit
types-requests
wikipedia
wordcloud
gunicorn